name: Publish Library

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'
        registry-url: 'https://registry.npmjs.org/'

    - name: Install dependencies
      run: yarn install
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    - name: Set git user
      run: |
        git config user.name "GitHub Actions"
        git config user.email "github-actions@github.com"
    - name: Commit changes
      run: |
        git add .
        git commit -m "Automated commit by GitHub Actions"
    - name: Determine version bump
      id: version_bump
      run: |
        bump_type="patch"
        if [[ "${{ github.event.head_commit.message }}" == *"[minor]"* ]]; then
          bump_type="minor"
        elif [[ "${{ github.event.head_commit.message }}" == *"[major]"* ]]; then
          bump_type="major"
        fi
        echo "::set-output name=bump_type::$bump_type"
    - name: Bump version and publish
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        npm version ${{ steps.version_bump.outputs.bump_type }}
        npm publish --access public
    - name: Push the changes
      env:
        GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
      run: |
        git remote set-url origin https://x-access-token:${{ secrets.REPO_ACCESS_TOKEN }}@github.com/crisjumbo/crisjumbo-components.git
        git push origin HEAD --follow-tags